

.gradient-background {
  background: linear-gradient(to right, #31587f, #00c9c9);
}

.navbar {
  -ms-box-shadow: 0 1px 5px rgba(0,0,0,.3);
  box-shadow: 0 1px 5px #0000004d;
  border: none;
  width: 100%;
}
