<div class="container mt-4">
  <div class="card gradient-background">
    <div class="card-header">
      <div class="input-group mb-3">
        <input [(ngModel)]="newTodoText" class="form-control" placeholder="Uusi tehtävä..." (keydown.enter)="addTodo()"/>
        <div class="input-group-append" style="margin-left: 10px;">
          <button (click)="addTodo()" class="btn btn-secondary">Lisää</button>
        </div>
      </div>

      <ul class="list-group">
        <li *ngFor="let todo of todos; let i = index" class="list-group-item d-flex justify-content-between align-items-center">
          <div>
            <input type="checkbox" [(ngModel)]="todo.done" />
            {{ todo.text }}
            <span *ngIf="todo.done" class="valmis-box">Valmis</span>
          </div>
          <button (click)="removeTodo(i)" class="btn btn-danger btn-sm">Poista</button>
        </li>
      </ul>
      <button (click)="saveTodosToLocalStorage()" class="btn btn-secondary ml-auto mt-2">Tallenna</button>
    </div>
  </div>
</div>








