.valmis-box {
  background-color: #4CAF50;
  padding: 5px 10px;
  border-radius: 5px;
  color: #ffffff;
  margin-left: 10px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.5);
}

.gradient-background {
  background: linear-gradient(to right, #eaeaea, #f4f4f4);
}

.card-body {
  -ms-box-shadow: 0 1px 5px rgba(0,0,0,.3);
  box-shadow: 0 1px 5px #0000004d;
  border: none;
  width: 100%;
}

.btn {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.5);
}

.flex-container {
  display: flex;
  justify-content: flex-start;
  max-width: 400px;
}
