<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tehtävälista</title>
</head>
<body>
<div class="flex-container mt-lg-5">
  <div class="card gradient-background">
    <div class="card-header sticky-top">
      <!-- Tehtävän lisäyslomake -->
      <div class="input-group mb-3">
        <input [(ngModel)]="newTodoText" class="form-control" placeholder="Uusi tehtävä..." (keyup.enter)="addTodo()" />
        <div class="input-group-append" style="margin-left: 10px;">
          <button (click)="addTodo()" class="btn btn-secondary me-2">Lisää</button>
          <button (click)="saveTodosToLocalStorage()" class="btn btn-secondary me-2">Tallenna</button>
        </div>
      </div>
    </div>

    <ul class="list-group">
      <!-- Tehtävälistan alkiot -->
      <li *ngFor="let todo of todos; let i = index" cdkDrag class="list-group-item d-flex justify-content-between align-items-center rounded p-3" style="background-color: #f5f5f5;">
        <div class="d-flex align-items-center">
          <input type="checkbox" [(ngModel)]="todo.done" class="me-2" />
          <span class="me-2">{{ todo.text }}</span>
          <span *ngIf="todo.done" class="valmis-box btn-sm me-2">Valmis</span>
        </div>
        <div>
          <!-- Kommenttien käsittely -->
          <button (click)="toggleComment(todo)" class="btn btn-secondary btn-sm me-2">
            {{ todo.showComment ? 'Piilota' : 'Kommentit' }}
            <span *ngIf="todo.comments && todo.comments.length > 0 && !todo.showComment" class="comment-indicator">•</span>
          </button>
          <textarea [(ngModel)]="todo.newComment" placeholder="Lisää kommentti..." rows="1" class="form-control rounded p-2" *ngIf="todo.showComment" (keyup.enter)="addComment(todo)"></textarea>
          <div *ngIf="todo.showComment">
            <div *ngFor="let comment of todo.comments" class="comment">{{ comment }}</div>
          </div>
          <button (click)="removeTodo(i)" class="btn btn-danger btn-sm ml-2">Poista</button>
        </div>
      </li>
    </ul>
  </div>
</div>
</body>
</html>















